<div class="text-center">
  <h1>蔵書登録</h1>
</div>

<div class="row center">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @book, local: true) do |f| %>
	    <div class="form-group" >
		    <%= f.label :isbn, 'ISBN' %>
		    <%= f.text_field :isbn, value: @book.isbn, class: 'form-control', readonly: true %>
		    <%= f.hidden_field :title, value: @book.title %>
		    <%= f.hidden_field :author, value: @book.author %>
	    </div>
      <div class="media">
        <div class="mr-3">
          <%= image_tag(book_imageurl(@book.isbn), style: "width: 64px;height: 91px;display: inline-block;", alt: @book.title) %>
        </div>
        <div class="media-body"> 
          <h5 class="mt-0"><%= @book['title'] %></h5>
          <%= @book['author'] %>
        </div>
      </div>
      
      <div class="btn-group btn-group-sm btn-group-toggle float-right mt-5" data-toggle="buttons">
        <label class="btn btn-outline-primary active">
          <%= f.radio_button :status, 0 , {checked: true} %>未読
        </label>
        <label class="btn btn-outline-primary">
          <%= f.radio_button :status, 1 , {} %>読書中
        </label>
        <label class="btn btn-outline-primary">
          <%= f.radio_button :status, 2, {} %>読了
        </label>
      </div>
      <div class="clearfix"></div>
      <div class="mt-5">
        <%= f.submit '登録', class: 'btn btn-lg btn-primary float-right mt-5' %>
      </div>
    <% end %>
  </div>
</div>