<div class="text-center">
  <h1>書籍検索</h1>
</div>

<div class="row center">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(url: search_books_path, local: true) do |f| %>
	    <div class="form-group" >
		    <%= f.label :isbn, 'ISBN' %>
		    <%= f.text_field :isbn, class: 'form-control' %>
	    </div>
      <%= f.submit '検索', class: 'btn btn-primary' %>
    <% end %>
    
    <div id='result' class="mt-5">
	    <% if @search_book.present? %>
	      <div class="media">
	        <div class="mr-3">
            <%= image_tag(book_imageurl(@search_book['isbn']), style: "width: 64px;height: 91px;display: inline-block;", alt: @search_book['title']) %>
          </div>
          <div class="media-body"> 
            <h5 class="mt-0"><%= @search_book['title'] %></h5>
            <%= @search_book['author'] %>
          </div>
        </div>
        
        <%= link_to 'この本を登録する', new_book_path(book: {isbn: @book.isbn, title: @book.title, author: @book.author}), class: 'btn btn-lg btn-primary float-right mt-5' %>
      <% end %>
    </div>
  </div>
</div>